{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}  

{% block content %}  
  <h1 class="text-2xl font-bold mb-6 text-gray-900 dark:text-white">Crea un nuevo blog</h1>

  <form method="post" enctype="multipart/form-data" class="space-y-4 transition-all duration-700 ease-in-out animate-fade-in">
    {% csrf_token %}
    {{ form.media }}  <!-- Necesario para CKEditor -->

    {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}" class="block text-sm font-medium mb-1 text-gray-900 dark:text-white">
          {{ field.label }}
        </label>

        <!-- Campo de imagen -->
        {% if field.name == 'image' %}
          <input type="file" name="{{ field.name }}" id="{{ field.id_for_label }}" 
            class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white px-4 py-2 rounded-lg w-full border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
        
        <!-- Campo de texto enriquecido (CKEditor para contenido) -->
        {% elif field.name == 'content' %}
          {{ field }}

    <!-- Campo de categoría como entrada de texto -->
    <div>
      <label for="category" class="block text-sm font-medium mb-1 text-gray-900 dark:text-white">Categoria</label>
      <input type="text" name="category" id="category" 
            class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white px-4 py-2 rounded-lg w-full border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" 
            placeholder="Escribe una categoría o selecciona una existente">
    </div>

    <!-- Campo de etiquetas como entrada de texto -->
    <div>
      <label for="tags" class="block text-sm font-medium mb-1 text-gray-900 dark:text-white">Tags</label>
      <input type="text" name="tags" id="tags" 
            class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white px-4 py-2 rounded-lg w-full border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" 
            placeholder="Escribe etiquetas separadas por comas">
    </div>
        <!-- Otros campos -->
        {% else %}
          {{ field|add_class:"bg-white dark:bg-gray-800 text-gray-900 dark:text-white px-4 py-2 rounded-lg w-full border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
        {% endif %}

        {% if field.errors %}
          <p class="text-red-500 text-sm">{{ field.errors|striptags }}</p>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="px-6 py-2 bg-[#ba3259] hover:bg-pink-950 text-white rounded transition-all duration-500 ease-in-out">
      Publicar
    </button>
  </form>
{% endblock content %}